#### gitingore backend

# Gradle
back-end-quarkus/back-end-quarkus/.gradle
back-end-quarkus/build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

#### gitingore front-end
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front-end-nextjs/node_modules
front-end-nextjs/.pnp
front-end-nextjs/.pnp.js

# testing
front-end-nextjs/coverage

# next.js
front-end-nextjs/.next/
front-end-nextjs/out/

# production
front-end-nextjs/build

# misc
.DS_Store
*.pem

# debug
front-end-nextjs/npm-debug.log*
front-end-nextjs/yarn-debug.log*
front-end-nextjs/yarn-error.log*
front-end-nextjs/.pnpm-debug.log*

# local env files
front-end-nextjs/.env*.local

# vercel
front-end-nextjs/.vercel

# typescript
front-end-nextjs/*.tsbuildinfo




